@model IEnumerable<Ecommerce_Project.ViewModels.ProductResponseViewModel>
@{
    ViewData["Title"] = "GetProductList";
}

<h1>GetProductList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinQuantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>

                    @foreach (var entry in item.productImage)
                    {
                        <img src="~/images/@entry.imageUrl"
                     height="50" width="50"
                     asp-append-version="true" />
                    }


                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinQuantity)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.ProductId}) |
                    @Html.ActionLink("Details", "Details", new {  id=item.ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
                </td>
            </tr>
        }
    </tbody>
</table>
