@model Ecommerce_Project.ViewModels.UserResponseViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserResponseViewModel</h4>
    <hr />
    <div class="fulldata">
    <div class="imagepart" style="width:50%">
        @Html.DisplayNameFor(model => model.imageUrl)
       
        <img src="@Url.Content("~/images/Profile/" +@Model.imageUrl)" />
    </div>
    <div class="detailspart" style="width:50%">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AspNetUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AspNetUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    </div>
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.UserId  }) |
    <a asp-action="Index">Back to List</a>
</div>
